{{ define "main" }}

<div class="content">


  <h1>{{ .Title }}</h1>

    {{ $content := .Content }}
    {{ $delimiter := "<!--split-->" }}
    {{ $parts := split $content $delimiter }}

    <div class="top-content">
      {{ index $parts 0 | safeHTML }}
    </div>

    <ul class="blog-list">
      {{ range .Pages.Reverse }}
          {{ if not .Params.exclude_from_list }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
      {{ end }}
    </ul>

    {{ if gt (len $parts) 1 }}
      <div class="bottom-content">
        {{ index $parts 1 | safeHTML }}
      </div>
    {{ end }}

  </main>
</div>


{{ end }}
